## UNIFIED MENTOR Internship

##### Submitted by: NANDIGALA JACINTH RUEL KNOX

#### Project Title: Analyzing Amazon Sales Data
#### Technologies: Data Science
#### Domain: E-Commerce
#### Project Difficulties Level: Advanced

## Problem Statement

##### Sales management has gained importance to meet increasing competition and the need for improved methods of distribution to reduce cost and to increase profits. Salesmanagement today is the most important function in a commercial and business enterprise. 
##### Do ETL : Extract-Transform-Load some Amazon dataset and find Sales-trend -> month wise , year wise , yearly_month wise. 
##### Find key metrics and factors and show the meaningful relationships between attributes.

## DATA COLLECTION

Dataset Link - https://drive.google.com/file/d/10sofXyF6NjwN6ngLyFfiPI-CUDpeqaN_/view

### Importing Libraries

In [5]:
import pandas as pd #Data Manipulation and Analysis
import numpy as np #Numerical Computing
import matplotlib.pyplot as plt  #Data Visualization
%matplotlib inline
import seaborn as sns  #Data Visualization

import warnings
warnings.filterwarnings('ignore')

In [6]:
#Importing Data
data = pd.read_csv(r'Amazon Sales data.csv')

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50

In [7]:
data.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50

In [8]:
data.tail()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
95,Sub-Saharan Africa,Mali,Clothes,Online,M,7/26/2011,512878119,9/3/2011,888,109.28,35.84,97040.64,31825.92,65214.72
96,Asia,Malaysia,Fruits,Offline,L,11/11/2011,810711038,12/28/2011,6267,9.33,6.92,58471.11,43367.64,15103.47
97,Sub-Saharan Africa,Sierra Leone,Vegetables,Offline,C,6/1/2016,728815257,6/29/2016,1485,154.06,90.93,228779.10,135031.05,93748.05
98,North America,Mexico,Personal Care,Offline,M,7/30/2015,559427106,8/8/2015,5767,81.73,56.67,471336.91,326815.89,144521.02
99,Sub-Saharan Africa,Mozambique,Household,Offline,L,2/10/2012,665095412,2/15/2012,5367,668.27,502.54,3586605.09,2697132.18,889472.91

In [9]:
#Checking the total amount of rows and columns
data.shape

(100, 14)

In [10]:
#Inofrmation about the dataset
data.info

<bound method DataFrame.info of                                Region                Country        Item Type  \
0               Australia and Oceania                 Tuvalu        Baby Food
1   Central America and the Caribbean                Grenada           Cereal
2                              Europe                 Russia  Office Supplies
3                  Sub-Saharan Africa  Sao Tome and Principe           Fruits
4                  Sub-Saharan Africa                 Rwanda  Office Supplies
..                                ...                    ...              ...
95                 Sub-Saharan Africa                   Mali          Clothes
96                               Asia               Malaysia           Fruits
97                 Sub-Saharan Africa           Sierra Leone       Vegetables
98                      North America                 Mexico    Personal Care
99                 Sub-Saharan Africa             Mozambique        Household

   Sales Channel Order Priority  Order Date   Order ID   Ship Date  \
0        Offline              H   5/28/2010  669165933   6/27/2010
1         Online              C   8/22/2012  963881480   9/15/2012
2        Offline              L    5/2/2014  341417157    5/8/2014
3         Online              C   6/20/2014  514321792    7/5/2014
4        Offline              L    2/1/2013  115456712    2/6/2013
..           ...            ...         ...        ...         ...
95        Online              M   7/26/2011  512878119    9/3/2011
96       Offline              L  11/11/2011  810711038  12/28/2011
97       Offline              C    6/1/2016  728815257   6/29/2016
98       Offline              M   7/30/2015  559427106    8/8/2015
99       Offline              L   2/10/2012  665095412   2/15/2012

    Units Sold  Unit Price  Unit Cost  Total Revenue  Total Cost  Total Profit
0         9925      255.28     159.42     2533654.00  1582243.50     951410.50
1         2804      205.70     117.11      576782.80   328376.44     248406.36
2         1779      651.21     524.96     1158502.59   933903.84     224598.75
3         8102        9.33       6.92       75591.66    56065.84      19525.82
4         5062      651.21     524.96     3296425.02  2657347.52     639077.50
..         ...         ...        ...            ...         ...           ...
95         888      109.28      35.84       97040.64    31825.92      65214.72
96        6267        9.33       6.92       58471.11    43367.64      15103.47
97        1485      154.06      90.93      228779.10   135031.05      93748.05
98        5767       81.73      56.67      471336.91   326815.89     144521.02
99        5367      668.27     502.54     3586605.09  2697132.18     889472.91

[100 rows x 14 columns]>

In [12]:
data.describe()

,Order ID,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
count,1.000000e+02,100.000000,100.000000,100.000000,1.000000e+02,1.000000e+02,1.000000e+02
mean,5.550204e+08,5128.710000,276.761300,191.048000,1.373488e+06,9.318057e+05,4.416820e+05
std,2.606153e+08,2794.484562,235.592241,188.208181,1.460029e+06,1.083938e+06,4.385379e+05
min,1.146066e+08,124.000000,9.330000,6.920000,4.870260e+03,3.612240e+03,1.258020e+03
25%,3.389225e+08,2836.250000,81.730000,35.840000,2.687212e+05,1.688680e+05,1.214436e+05
50%,5.577086e+08,5382.500000,179.880000,107.275000,7.523144e+05,3.635664e+05,2.907680e+05
75%,7.907551e+08,7369.000000,437.200000,263.330000,2.212045e+06,1.613870e+06,6.358288e+05
max,9.940222e+08,9925.000000,668.270000,524.960000,5.997055e+06,4.509794e+06,1.719922e+06

## DATA CLEANING

In [13]:
#Check for missing values
data.isnull().sum()

Region            0
Country           0
Item Type         0
Sales Channel     0
Order Priority    0
Order Date        0
Order ID          0
Ship Date         0
Units Sold        0
Unit Price        0
Unit Cost         0
Total Revenue     0
Total Cost        0
Total Profit      0
dtype: int64

In [14]:
#Check for data type consistency
data.dtypes

Region             object
Country            object
Item Type          object
Sales Channel      object
Order Priority     object
Order Date         object
Order ID            int64
Ship Date          object
Units Sold          int64
Unit Price        float64
Unit Cost         float64
Total Revenue     float64
Total Cost        float64
Total Profit      float64
dtype: object

## KEY METRICS

In [16]:
#Calculate total sales
total_sales = data['Total Revenue'].sum()
print(total_sales)

137348768.31

In [18]:
def calculate_key_metrics(data):
  """Calculates key metrics from Amazon sales data.

  Args:
    data: Pandas DataFrame containing sales data.

  Returns:
    A dictionary containing key metrics.
  """

  # Total Sales
  total_sales = data['Total Revenue'].sum()

  # Profit Margin
  total_profit = data['Total Profit'].sum()
  profit_margin = (total_profit / total_sales) * 100

  # Total Units Sold
  total_units_sold = data['Units Sold'].sum()

  # Average Order Value
  total_orders = data['Order ID'].nunique()
  average_order_value = total_sales / total_orders

  return {
      'Total Sales': total_sales,
      'Profit Margin': profit_margin,
      'Total Units Sold': total_units_sold,
      'Average Order Value': average_order_value
  }

In [21]:
calculate_key_metrics(data)

{'Total Sales': np.float64(137348768.31),
 'Profit Margin': np.float64(32.157695291676106),
 'Total Units Sold': np.int64(512871),
 'Average Order Value': np.float64(1373487.6831)}

In [23]:
# Define relevant columns
columns = ['Sales Channel', 'Total Cost', 'Total Profit', 'Units Sold']

# Filter data for necessary columns
df = data[columns]

# Group data by Sales Channel and calculate metrics
grouped_data = df.groupby('Sales Channel').agg(
    Total_Sales=('Total Cost', 'sum'),
    Average_Order_Value=('Total Cost', 'mean'),
    Total_Profit=('Total Profit', 'sum'),
    Profit_Margin=('Total Profit', 'mean'),
    Total_Units_Sold=('Units Sold', 'sum')
)

# Calculate additional metrics if needed
grouped_data['Sales_Per_Unit'] = grouped_data['Total_Sales'] / grouped_data['Total_Units_Sold']

# Print the results
print(grouped_data)

               Total_Sales  Average_Order_Value  Total_Profit  Profit_Margin  \
Sales Channel
Offline        54174082.53         1.083482e+06   24920726.67    498414.5334
Online         39006487.38         7.801297e+05   19247471.73    384949.4346

               Total_Units_Sold  Sales_Per_Unit
Sales Channel
Offline                  276782      195.728344
Online                   236089      165.219419

## DATA ANALYSIS

In [27]:
from sklearn.decomposition import FactorAnalysis
from scipy.stats import zscore

# Group by Region and Country
grouped_data = data.groupby(['Region', 'Country']).agg(
    Average_Order_Value=('Total Cost', 'mean'),
    Profit_Margin=('Total Profit', 'mean')
)

# Normalize data for factor analysis (optional)
normalized_data = grouped_data.apply(zscore)

# Factor Analysis
fa = FactorAnalysis(n_components=2, rotation='varimax')  # Adjust n_factors as needed
fa.fit(normalized_data)

print(fa.components_)
# print(fa.explained_variance_)

# factor_df=pd.DataFrame(fa.loadings_,index=sales.columns)
# print(factor_df)
# Extract factor loadings
# loadings = fa.loadings_
# eigen_values, vectors = fa.get_eigenvalues()

# Print factor loadings or visualize
# print(loadings)

# Additional analysis (e.g., scree plot, explained variance)


# fa.set_params(n_factors='blahblahblah!', rotation='refer the docs')
# fa.fit(df)
# loadings = fa.loadings_

[[0.76978899 0.76978899]
 [0.         0.        ]]